.LTR-toggler {
  font-weight: 700;
  background: linear-gradient(to left, rgb(13, 162, 145) 50%, rgb(48 48 48) 50%);
  user-select: none;
}

.LTR-toggler:hover {
  cursor: pointer;
}

.LTR-toggler__active-RU {
  background: linear-gradient(to left, rgb(13, 162, 145) 50%, rgb(48 48 48) 50%);
}

.LTR-toggler__active-EN {
  background: linear-gradient(to right, rgb(13, 162, 145) 50%, rgb(48 48 48) 50%);
}

.alert {
  padding: 16px;
  opacity: 1;
  transition: opacity 0.3s ease-in;
  max-width: 300px;
  z-index: 999;
  position: fixed;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.alert, .alert p {
  font-weight: 600;
  font-size: 14px;
  margin: 8px 0;
  line-height: 20px;
}

.error-alert {
  border: 1px solid #f5c6cb;
  background-color: #f8d7da;
  color: #721c24;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-or-old-alert {
  border: 1px solid #ffeeba;
  background-color: #fff3cd;
  color: #856404;
}

.tooltip-container {
  z-index: 40;
  display: block;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  box-shadow: 0 0 #0000,0 0 #0000,0 0 #0000,0 0 #0000,0px 1px 3px #0000003d,0px 6px 16px #00000029;
  transition: opacity 0.15s ease;
  font-weight: initial;
  font-style: initial;
  color: initial;
  background-color: #363636;
  border: 1px solid rgb(255, 255, 255, .1);
  border-radius: 7px;
  width: fit-content;
  max-width: 385px;
}

.tooltip-title {
  font-weight: 600;
  padding: 16px;
  border-bottom: 1px solid rgb(255, 255, 255, .1);
}

.tooltip-description {
  padding: 16px;
}

.tooltip-description code {
  background-color: #ffffff1a;
  color: #eff1f6bf;
  border: 1px solid #f7faff1f;
  padding: 0.25rem;
  border-radius: 0.5rem;
  font-family: Menlo,sans-serif;
  font-size: .75rem;
  line-height: 1.5rem;
}

.tooltip-description > div > p, .tooltip-description > p {
  margin-bottom: 0.5rem;
}

.tooltip-description > div p:last-child, .tooltip-description > p:last-child {
  margin-bottom: 0;
}

.LTR-custom-translations-btn div {
  background-color: #0da291;
  color: white;
  transition: background-color .1s ease-in;
}

.LTR-custom-translations-btn div:hover {
  background-color: #08675b;
  transition: background-color .1s ease-out;
}